/* ==========================================================================
   Base
   ========================================================================== */
html {
    overflow-y: scroll;
}

body {
  background-color: #fff;
  color: #333;
  font-family: sans-serif;
  line-height: 1.5;
}

/* Links
   ========================================================================== */

a:link {
  color: #4183C4; 
}

a:visited {
  color: #105cb6;
}

a:focus, 
a:hover {
  color: #003; 
  outline: 0;
}

/* Address
   ========================================================================== */

address {
  font-style: normal;
}

/* Blockqoutes
   ========================================================================== */

blockquote {
  border-left: 4px solid #ddd;
  color: #777;
  padding: 0 1em;
}

/* Code/Preformatted Text
   ========================================================================== */

code, tt {
  border: 1px solid #ddd;
  background-color: #f8f8f8;
  border-radius: 3px;
  margin: 0 2px;
  padding: 0 5px;
}

 pre code {
  white-space: pre;
  border: none;
  background: transparent;
  margin: 0;
  padding: 0;
}

pre {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  font-size: .9em;
  line-height: 1.6;
  overflow: auto;
  border-radius: 3px;
  padding: 6px 10px;
}

/* Definition Lists
   ========================================================================== */

dl dt {
  font-weight: 700;
  font-style: italic;
  margin-top: 1em;
  padding: 0;
}

dl dd {
  margin-left: 0;
  margin-bottom: 1em;
  padding: 0 1em;
}

/* Forms
   ========================================================================== */
label {
  display: block;
}

/* Horizontal Rule
   ========================================================================== */

/**
 * 1. hr does not take style from backgroud-color in IE 6/7 
 *    but does respond to color. Make sure both values match.
 * 2. IE 6/7 do not allow a top/bottom margin less than 24px.
 *    Setting margin to 1.5em (24/16) normalizes the margin
 *    for other browsers.
 */

hr {
  background-color: #ccc;
  border: 0;
  color: #ccc; /* 1 */
  height: 2px;
  margin: 1.5em 0; /* 2 */
  *margin: 0; /* 2 */
  padding: 0;
}

/* Images
   ========================================================================== */

img {
  height: auto;
  max-width: 100%;
}

/**
 * Non-fluid images if you specify `width` and/or `height` attributes.
 */
 
img[width],
img[height]{
    max-width:none;
}

/* Lists
   ========================================================================== */

ul.list-unstyled, ol.list-unstyled {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Tables
   ========================================================================== */

table {
  width: 100%;
}

table th, table td {
  border: 1px solid #ddd;
  padding: 6px 13px;
}

table tr {
  border-top: 1px solid #ccc;
  background-color: #fff;
}

table tr:nth-child(2n) {
  background-color: #f8f8f8;
}

/* Video/Audio
   ========================================================================== */
video, audio {
  width: 100%    !important;
  height: auto   !important;
}


/* ==========================================================================
   Print Styles - http://goo.gl/ygliu
   ========================================================================== */

@media only print {

  body {
    background-color: #FFFFFF; 
    color: #000000; 
    font-family: Georgia, 'Times New Roman', serif;
  }

  a {
    color: #0066CC; 
    font-weight: bold; 
    text-decoration: underline; 
    word-wrap: break-word; 
  }

  a[href^="http://"]:after, 
  a[href^="https://"]:after { 
    content: " (" attr(href) ")"; 
  }

  /* Set as needed
  header, footer, nav, video, .etc, .and-so-forth {
      display: none;
  }
  #comments { page-break-before: always; } 
  */

}
